<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated test -->
      <package
            uri="test.abc"
            class="test.abc.AbcPackage"
            genModel="model/test.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated test2 -->
      <package
            uri="test.def"
            class="test.def.DefPackage"
            genModel="model/test2.xcore"/>
   </extension>

</plugin>
